/*	
	Side Navigation Menu V2, RWD
	===================
	License:
	http://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#4189C7;
  background-color:white;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

ng2-map {
  height: 500px;
}

.loader {
  position: relative;
  left: 40%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: 0px 0 0 0px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.blue { color: #185875; }
.yellow { color: #A7A1AE; }




.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #4189C7;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px white;
      -moz-box-shadow: 0 2px 2px -2px white;
            box-shadow: 0 2px 2px -2px white;
}


.mystyle {
    width: 30%;
    color: black;
}

.mystyle-price{
      width: 15%;
    color: black
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 100%;
	  margin: 0 auto;
    display: table;
    padding: 0 0 0 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 3%;
    padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: white;
    color: whitesmoke;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: whitesmoke;
      color: #4189C7;
}

.container th {
	  background-color: white;
    color: black;
}

.container td:first-child { color: black;}

.container tr:hover {
   background-color: white;
  -webkit-box-shadow: 10px 10px 10px -10px white;
      -moz-box-shadow:10px 10px 10px -10px white;
            box-shadow: 10px 10px 10px -10px white;
}

.container td:hover {
  background-color: white;
  color: #4189C7;
  font-weight: bold;

  box-shadow: #464A52 -1px 1px, #464A52 -2px 2px, #464A52 -3px 3px, #464A52 -4px 4px, #464A52 -5px 5px, #464A52 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

.custom-modal-container {
    padding: 15px;
}

.custom-modal-header {
    background-color: #219161;
    color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    margin-top: -15px;
    margin-bottom: 40px;
}

@media (max-width: 600px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}