<h1>Weathe323r check</h1>

<label for="city">City</label>
<input type="text" id="city" [(ngModel)]="chosenCity" />
<input type="button" value="Get Weather" (click)="getWeather(chosenCity)" />
<input type="button" value="Get User" (click)="getUser()" />
<div *ngIf="weather">
    <h3>Weather for33 {{weather.city}}</h3>
    <h1></h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Temp</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{weather.temp}} {{weather.temp}}</td>
                <td>{{weather.summary}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="clients">
    <div *ngFor="let item of clients; let i = index">{{i+1}}.{{item.driverLicense}} {{item.carExist}} 
        <div class="btn-group">
            <button class="btn btn-default" data-toggle="tooltip" title="Подробнее" data-placement="top"  ><span class="glyphicon glyphicon-info-sign"></span></button>
            <button class="btn btn-default" data-toggle="tooltip" title="Изменить" data-placement="top"   ><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-default" data-toggle="tooltip" title="Удалить" data-placement="top"   ><span class="glyphicon glyphicon-remove"></span> </button>
            <button class="btn btn-default"  data-toggle="tooltip" title="Принять" data-placement="top"  ><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn btn-default" data-toggle="tooltip" title="Принять" data-placement="top"   ><span class="glyphicon glyphicon-ok"></span> </button>
        </div> 
    </div>
</div>