<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Transportation service </a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Главная
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="authService.loggedIn()">
                    <a [routerLink]="['/taxiorders']">
                        <span class='glyphicon glyphicon-briefcase'></span> Заказы
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="authService.loggedIn()">
                    <a [routerLink]="['/offers']">
                        <span class='glyphicon glyphicon-road'></span> Предложения
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="authService.loggedIn()">
                        <a [routerLink]="['/notifications']"><span class="glyphicon glyphicon-envelope"></span>Уведомления <span *ngIf="nsLength">[Новое!]</span>
                            <a (click)="getNumNotifications()">
                                <span class=" glyphicon glyphicon-refresh" >
                                </span> 
                            </a>
                        </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="authService.loggedIn()">
                        <a [routerLink]="['/profile']"><span class="glyphicon glyphicon-user"></span> Мой профиль
                        </a>
                </li>
                <li>
                    <!-- We'll show the login link if the user is not currently logged in -->
                    <a (click)=login() *ngIf="!authService.loggedIn()">Войти</a>
                </li>
                <li>
                    <!-- On the other hand, if the user is logged in, we'll show a log out link -->
                    <a (click)=authService.logout() *ngIf="authService.loggedIn()">Выйти</a>
                </li>
                
                
            </ul>           
        </div>
    </div>
</div>
