<h3>Ваши уведомления</h3> 
<div class="loader" *ngIf="!notifications"></div>
<table class="container" *ngIf="notifications">
    <tbody>
        <tr *ngFor="let item of notifications; let i = index">
            <td>{{item.notificationTitle}} <span *ngIf="isCarrier">Нажмите ✓ для ввода информации о выполнении</span>
                <div *ngIf="item.isLoad && item.condition">
                    <b>Откуда:</b> {{item.taxiOrder.startPoint}}<br>
                    <b>Куда:</b> {{item.taxiOrder.endPoint}}<br>
                    <b>Дата:</b> {{item.taxiOrder.date}}<br>
                    <b>Время:</b> {{item.taxiOrder.time}}<br>
                </div>
                <div *ngIf="item.conditionAgree && isCarrier">
                    <form #myForm="ngForm" novalidate>
                        <div class="form-group">
                                <label>Длительность поездки</label>
                                <input name="duration"  class="form-control" type="number" step="0.01" [ngModel]="duration"/>
                            </div>
                            <div class="form-group">
                                <label>Расстояние поездки</label>
                                <input name="distanse"  class="form-control" type="number" step="0.01" [ngModel]="distanse"/>
                            </div>
                            <div *ngIf="valid">
                                <label>Ошибка</label>
                            </div>
                            <div *ngIf="price">
                                <label> Цена поездки : {{price}}</label>
                            </div>
                            <button *ngIf="isCarrier" class="btn btn-default"  data-toggle="tooltip" title="Принять" data-placement="top" (click)="onAgreed(i,myForm)" ><span class="glyphicon glyphicon-check"></span></button>
                    </form>
                </div>
            </td>
            <td class="mystyle">
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="tooltip" title="Подробнее" data-placement="top"  (click)="onSelect(i)"><span class="glyphicon glyphicon-info-sign"></span></button>
                    <button *ngIf="isAdmin" class="btn btn-default" data-toggle="tooltip" title="Изменить" data-placement="top"   (click)="onEdit(item)"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button *ngIf="isUser || isCarrier" class="btn btn-default" data-toggle="tooltip" title="Удалить" data-placement="top"   (click)="onReject(i)"><span class="glyphicon glyphicon-remove"></span> </button>
                    <button *ngIf="isUser" class="btn btn-default" data-toggle="tooltip" title="Принят" data-placement="top"   (click)="onOk(i)"><span class="glyphicon glyphicon-ok"></span> </button>
                    <button *ngIf="isCarrier" class="btn btn-default"  data-toggle="tooltip" title="Принять" data-placement="top"  (click)="onAgree(i,myForm)"><span class="glyphicon glyphicon-ok"></span></button>
                </div> 
            </td>
        </tr>
    </tbody>
<table>


