

<h1>Создание нового заказа</h1>
<form   #myForm="ngForm" novalidate>
        <div class="form-group">
            <label>Начало</label>
            <input places-auto-complete
        (initialized$)="mapsService.initialized($event)"
        (place_changed)="mapsService.placeChanged($event)"
        [types]="['geocode']" type="text" class="form-control" name="startPoint" [(ngModel)]="startPoint"
        />
    
    <button *ngIf="!condition" class="btn btn-default" (click)="mapsService.requestPosition()">Местоположение</button>
        </div>
        <div class="form-group">
            <label>Конец</label>
            <input places-auto-complete
                (initialized$)="mapsService.initialized($event)"
                (place_changed)="mapsService.endPlaceChanged($event)"
                [types]="['geocode']" type="text" class="form-control" name="endPoint" [(ngModel)]="endPoint" (ngModelChange)="showDirection(myForm)"/>
        </div>
        <div class="form-group">
            <label>Дата</label>
            <input type="date" class="form-control" name="date" [(ngModel)]="date" />
        </div>
        <div class="form-group">
            <label>Время</label>
            <input type="time" class="form-control" name="time" [(ngModel)]="time" />
        </div>
        <div class="form-group">
            <button *ngIf="!condition"
                    class="btn btn-default" [routerLink]="['/taxiorders']" (click)="createTaxiOrder(myForm)">Создать</button>
        </div>
        <p>
            <ng2-map zoom="2" >
                <marker   *ngFor="let pos of mapsService.positions" 
                    [position]="pos" (click)="mapsService.clicked($event)"
                    [icon]="{
                        url: './assets/img/car_share.png'
                        }">
                </marker>

                <marker   *ngFor="let pos of mapsService.end_positions" 
                    [position]="pos" (click)="mapsService.clicked($event)"
                    [icon]="{
                        url: './assets/img/car_exit.png'
                        }">
                </marker>
                <info-window id="iw">
                    lat: [[lat]], lng: [[lng]]
                </info-window>
            </ng2-map>
        </p>     
</form>

