<button (click)="getTaxiOrder()" class="btn btn-default" data-toggle="tooltip" title="Подробнее" data-placement="top"  ><span class="glyphicon glyphicon-info-sign"></span></button>
<table *ngIf="taxiOrders">
    <tr *ngFor="let item of taxiOrders; let i = index">{{item.startPoint}}<div *ngIf="item.condition">{{item}}<br><br><br><br><br><br></div>
        <td>
        <div class="btn-group">
            <button class="btn btn-default" data-toggle="tooltip" title="Подробнее" data-placement="top"  (click)="onSelect(item)"><span class="glyphicon glyphicon-info-sign"></span></button>
            <button class="btn btn-default" data-toggle="tooltip" title="Изменить" data-placement="top"   ><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-default" data-toggle="tooltip" title="Удалить" data-placement="top"   ><span class="glyphicon glyphicon-remove"></span> </button>
            <button class="btn btn-default"  data-toggle="tooltip" title="Принять" data-placement="top"  ><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn btn-default" data-toggle="tooltip" title="Принять" data-placement="top"   ><span class="glyphicon glyphicon-ok"></span> </button>
        </div> 
        </td>
    </tr>
<table>






